<% provide(:title,'home') %>

<html xmlns="http://www.w3.org/1999/html">
<h1>Welcome to Battleship</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2"></div>

    <div class="span5">
     <h2>game status</h2>
      <%if user_signed_in?%>
        <%=link_to "New Game", new_game_path, :type=>"button", :class=>"btn"%>
      <%end%>
      <table class="table table-striped">
        <tr>
          <th>GamesBeing Played</th>
          <th>Players Joined/Total</th>
        </tr>
        <tr>
          <td>Trojan War</td>
          <td>4/5</td>
        </tr>
        <tr>
          <td>Bermuda triangle Battle</td>
          <td>2/5</td>
        </tr>
      </table>
    </div>
    <div class="span1"></div>
    <div class="span2">
      <h2>player list</h2>
      <table class="table table-striped">

        <tr>
          <th>Current Players</th>
        </tr>

        <tr>
          <td>Becky</td>
        </tr>

      </table>
    </div>
    <div class="span2"></div>
  </div>
</div>






</html>
