@import "bootstrap";

/* universal */

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* battlefield grid */

.battlefield tr:hover .missed,
.battlefield tr .missed {
  background-color: red;
}


.battlefield tr:hover .shipPlaced,
.battlefield tr .shipPlaced {
  background-color: blue;
}