@import "bootstrap";

/* universal */

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

html {
    background-color: #555555;
}

body {
  padding-top: 40px;
  background-image: image-url("ocean6.jpg");
  background-repeat:no-repeat;
}

section {
}

textarea {
  resize: vertical;
}

// No hover!
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: inherit;
}

.nav-tabs li a {
  color: white;
}
.nav-tabs li a:hover {
  background-color: #00008b;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #00bfff;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #00bfff;
}

h3 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #00bfff;
  margin:10px 70px;
  background-color: rgba(0,0,0,0.7);
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
}

label {
  color: #fff;
  font-size: 12pt;
}

/* battlefield grid */

.battlefield {
  //background-image: image-url("sea.jpg");
  background: rgba(200, 255, 255, 0.3);
}

.battlefield tr:hover .hit,
.battlefield tr .hit {
  background-color: red;
}

.battlefield tr:hover .missed,
.battlefield tr .missed {
  background-color: white;
}

.battlefield tr:hover .ship5Placed,
.battlefield tr .ship5Placed {
  border: 1;
  background-color: #00008b;
}
.battlefield tr:hover .ship4Placed,
.battlefield tr .ship4Placed {
  background-color: #8b0000;
}
.battlefield tr:hover .ship3Placed,
.battlefield tr .ship3Placed {
  background-color: teal;
}
.battlefield tr:hover .ship2Placed,
.battlefield tr .ship2Placed {
  background-color: #ff69b4;
}
.battlefield tr:hover .ship1Placed,
.battlefield tr .ship1Placed {
  background-color: #7fffd4;
}

/* player table */

.player_in_turn {
  background: rgba(150,200,255,0.6);
}

/* player battlefield tab */

.attack_signal {
  background-color: red !important;
}

/* legend */
.legend {
  width: 140px;
  background: rgba(0,0,0,0.7);
  font-weight: normal;
}

.table-borderless td,
.table-borderless th{
  border: 0 !important;
}

/* game list table */
.game-list-table {
  background-color: rgba(0,0,0,0.6);
}

.game-list-table td {

  font-color: white !important;
}

/* game moves notification */

ol  {
  height: 200px;
  width: 280px;
   overflow: auto;
  border-style: groove;
  border-width: 2px;
  border-color: #bbbbbb;
  color: #00008b;
}

ol li {
  list-style-type: square;
  list-style-position: inside;
}
